DATABASE_URL="libsql://bethapp-hugolmty.turso.io"
DATABASE_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTQ1NTIwMTQsImlkIjoiZTBiZDVkYjgtNTFhZC0xMWVlLWFkM2EtNDYxMWVjZjJhMTJjIn0.zntD95pO44-iJ_nFbfia-yson3z7ldaNInYV16KfQqVbEIqKSp1iplMn-qsPRPqLMFbLsx5v0vZpjQnDK7jnBQ"